extend layout

block main
  section#todos
    header
      h2 Editing '#{todoList.title}'
      ul
        li
          form.delete(action=`/lists/${todoList.id}/destroy` method="post")
            button.delete(type="submit") Delete List

  form(action=`/lists/${todoList.id}/edit` method="post")
    dl
      dt
        label(for="todoListTitle") Enter the new title for the list:
      dd
        input(type="text"
              name="todoListTitle"
              placeholder="List Title"
              value=todoListTitle || todoList.title)
    fieldset.actions
      input(type="submit" value="Save")
      a(href=`/lists/${todoList.id}`) Cancel
