extends layout

block main
  if todoLists === undefined || todoLists.length === 0
    if signedIn
      p#no_list You don't have any todo lists. Why not create one?
  else
    ul#lists
      each todoList, todoIndex in todoLists
        - let todoInfo = todosInfo[todoIndex];
        li(class=todoInfo.isDone ? "done" : "")
          a(href=`/lists/${todoList.id}`)
            h2= todoList.title
            p #{todoInfo.countDoneTodos} / #{todoInfo.countAllTodos}

block headerLinks
  .actions
    a.add(href="/lists/new") New List
