extends layout

block main
  if todoLists === undefined || todoLists.length === 0
    p#no_list You don't have any todo lists. Why not create one?
  else
    ul#lists
      each todoList in todoLists
        li(class=todoList.isDone() ? "done" : "")
          a(href=`/lists/${todoList.id}`)
            h2= todoList.title
            p #{todoList.allDone().size()} / #{todoList.size()}

block headerLinks
  .actions
    a.add(href="/lists/new") New List
